* {
    -fx-dark-main: #383838;
    -fx-dark-accent: #505050;
    -fx-dark-darker: #202020;
    -fx-blue: #0c75de;
}

.root {
    -fx-background-color: -fx-dark-main;
    -fx-background: -fx-dark-main;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-background-color: transparent;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.tool-bar {
    -fx-background-color: -fx-dark-main;
}

.tool-bar-wrapper {
    -fx-border-width: 0 5 0 0;
    -fx-border-color: -fx-dark-accent;
}

.toggle-button {
    -fx-background-color: -fx-dark-main;
}

.toggle-button:selected {
    -fx-background-color: -fx-dark-accent;
}

.menu-bar {
    -fx-background-color: -fx-dark-darker;
}

.menu .label {
    -fx-text-fill: white;
}

.menu-button:hover {
    -fx-background-color: -fx-blue;
}

.menu-button:showing {
    -fx-background-color: -fx-blue;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: -fx-blue;
}

.menu .context-menu {
    -fx-background-color: -fx-dark-darker;
}

.edge {
    -fx-stroke-width: 8;
    -fx-stroke: -fx-blue;
}
